section.catalog-banner-2
    .catalog-banner-2__container 
        .catalog-banner-2__wrapper 
            .catalog-banner-2__text 
                h3.section__title-secondary 
                    | По вашему желанию красим более чем в 70 цветов
                 
                <p class="paragraph__subtitle-secondary"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.46973 4.85156L12.9004 1.4209L14.8135 3.33398L11.3838 6.76367H16.2344V9.46973H11.3828L14.8135 12.9004L12.9004 14.8135L9.46973 11.3828V16.2344H6.76465V11.3828L3.33398 14.8135L1.4209 12.9004L4.85156 9.46973H0V6.76367H4.85059L1.4209 3.33398L3.33398 1.4209L6.76465 4.85156V0H9.46973V4.85156Z" fill="#FF7700" /></svg>Даже в крокодиловый</p>
                .ui-button__primary  
                        a(href="")
                            <svg class="button-shape button-shape-orange" xmlns="http://www.w3.org/2000/svg" width="305" height="46" viewBox="0 0 305 46" fill="none">
                                <path d="M208.872 0C218.182 2.4713e-05 226.17 5.65454 229.592 13.7164C229.998 14.6732 231.755 14.7137 232.204 13.7767C235.832 6.21853 243.556 1 252.5 1H282.203C294.63 1.00002 304.703 11.0736 304.703 23.5C304.703 35.9264 294.63 46 282.203 46H252.5C243.19 46 235.201 40.3454 231.78 32.2833C231.374 31.3265 229.616 31.2859 229.167 32.223C225.539 39.7812 217.816 45 208.872 45H22.5C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 0 22.5 0H208.872Z" fill="#FF7700"/>
                                <path class="button-arrow-orange button-arrow" d="M267.887 12.6689L277.775 22.5563M277.775 22.5563L267.887 32.4436M277.775 22.5563L258 22.5563" stroke="white"/>
                            </svg>


                            <svg class="button-shape button-shape-transparent" xmlns="http://www.w3.org/2000/svg" width="305" height="45" viewBox="0 0 305 45" fill="none">
                                <mask id="path-1-inside-1_2021_11" fill="white">
                                <path d="M210.428 0C219.037 0 226.517 4.83567 230.3 11.9391C230.726 12.7394 231.996 12.7394 232.422 11.9391C236.205 4.83568 243.685 0 252.295 0H282.5C294.926 0 305 10.0736 305 22.5C305 34.9264 294.926 45 282.5 45H252.295C243.685 45 236.205 40.164 232.422 33.0603C231.996 32.2598 230.726 32.2599 230.3 33.0603C226.517 40.164 219.037 45 210.428 45H22.5C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 1.41312e-08 22.5 0H210.428Z"/>
                                </mask>
                                <path d="M22.5 0L22.5 -1L22.5 0ZM232.422 33.0603L231.54 33.5303L232.422 33.0603ZM230.3 33.0603L229.418 32.5903L230.3 33.0603ZM230.3 11.9391L231.183 11.469L230.3 11.9391ZM232.422 11.9391L233.305 12.4091L232.422 11.9391ZM210.428 0V1C218.653 1 225.801 5.61888 229.418 12.4091L230.3 11.9391L231.183 11.469C227.233 4.05246 219.421 -1 210.428 -1V0ZM232.422 11.9391L233.305 12.4091C236.921 5.61888 244.069 1 252.295 1V0V-1C243.301 -1 235.489 4.05247 231.54 11.469L232.422 11.9391ZM252.295 0V1H282.5V0V-1H252.295V0ZM282.5 0V1C294.374 1 304 10.6259 304 22.5H305H306C306 9.52131 295.479 -1 282.5 -1V0ZM305 22.5H304C304 34.3741 294.374 44 282.5 44V45V46C295.479 46 306 35.4787 306 22.5H305ZM282.5 45V44H252.295V45V46H282.5V45ZM252.295 45V44C244.069 44 236.921 39.3808 233.305 32.5903L232.422 33.0603L231.54 33.5303C235.489 40.9471 243.301 46 252.295 46V45ZM230.3 33.0603L229.418 32.5903C225.802 39.3808 218.653 44 210.428 44V45V46C219.422 46 227.233 40.9472 231.183 33.5303L230.3 33.0603ZM210.428 45V44H22.5V45V46H210.428V45ZM22.5 45V44C10.6259 44 1 34.3741 1 22.5H0H-1C-1 35.4787 9.52131 46 22.5 46V45ZM0 22.5H1C1 10.6259 10.6259 1 22.5 1L22.5 0L22.5 -1C9.52131 -1 -1 9.52131 -1 22.5H0ZM22.5 0V1H210.428V0V-1H22.5V0ZM232.422 33.0603L233.305 32.5903C232.886 31.8026 232.08 31.46 231.361 31.46C230.643 31.46 229.837 31.8026 229.418 32.5903L230.3 33.0603L231.183 33.5303C231.19 33.5175 231.232 33.46 231.361 33.46C231.491 33.46 231.533 33.5175 231.54 33.5303L232.422 33.0603ZM230.3 11.9391L229.418 12.4091C229.837 13.1967 230.643 13.5393 231.361 13.5393C232.08 13.5393 232.886 13.1967 233.305 12.4091L232.422 11.9391L231.54 11.469C231.533 11.4818 231.491 11.5393 231.361 11.5393C231.232 11.5393 231.19 11.4818 231.183 11.469L230.3 11.9391Z" fill="#FF7700" mask="url(#path-1-inside-1_2021_11)"/>
                                <path class="button-arrow-transparent button-arrow" d="M265.887 12.6689L275.775 22.5563M275.775 22.5563L265.887 32.4436M275.775 22.5563L256 22.5563" stroke="#FF7700"/>
                            </svg>

                            .button-text 
                                | Каталог цветов


                    
            .catalog-banner-2__img 
                img(src="./assets/img/Rectangle 580.png", alt="")