doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="./css/style.css")
    body 
        //- Header
        include ../components/header/header.pug
      
        main.main
            //- Hero
            include ../components/hero/hero.pug

            //- video-section
            include ../components/video-section/video-section.pug

            //- benefits
            include ../components/benefits/benefits.pug

            //- catalog-banner 2
            include ../components/catalog-banner-2/catalog-banner-2.pug

            //- difference
            include ../components/difference/difference.pug

            //- price-section
            include ../components/price-section/price-section.pug

            //- highlight
            include ../components/highlight/highlight.pug

            //- callback-section
            include ../components/callback-section/callback-section.pug

            //- about-company
            include ../components/about-company/about-company.pug



            //- catalog-banner
            include ../components/catalog-banner/catalog-banner.pug



        //- Footer
        include ../components/footer/footer.pug

    script(src="./js/jquery-3.6.0.min.js") 
    
    script(src="./js/index.js") 
