section.price-section 
    .price-section__container 
        .price-section__wrapper 
            .price-section__top 
                h3.section__title-secondary 
                    | Цены на популярные модели<br>полотенцесушителей
                .ui-button__primary  
                        a(href="")
                            <svg class="button-shape button-shape-orange" xmlns="http://www.w3.org/2000/svg" width="305" height="46" viewBox="0 0 305 46" fill="none">
                                <path d="M208.872 0C218.182 2.4713e-05 226.17 5.65454 229.592 13.7164C229.998 14.6732 231.755 14.7137 232.204 13.7767C235.832 6.21853 243.556 1 252.5 1H282.203C294.63 1.00002 304.703 11.0736 304.703 23.5C304.703 35.9264 294.63 46 282.203 46H252.5C243.19 46 235.201 40.3454 231.78 32.2833C231.374 31.3265 229.616 31.2859 229.167 32.223C225.539 39.7812 217.816 45 208.872 45H22.5C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 0 22.5 0H208.872Z" fill="#FF7700"/>
                                <path class="button-arrow-orange button-arrow" d="M267.887 12.6689L277.775 22.5563M277.775 22.5563L267.887 32.4436M277.775 22.5563L258 22.5563" stroke="white"/>
                            </svg>


                            <svg class="button-shape button-shape-transparent" xmlns="http://www.w3.org/2000/svg" width="305" height="45" viewBox="0 0 305 45" fill="none">
                                <mask id="path-1-inside-1_2021_11" fill="white">
                                <path d="M210.428 0C219.037 0 226.517 4.83567 230.3 11.9391C230.726 12.7394 231.996 12.7394 232.422 11.9391C236.205 4.83568 243.685 0 252.295 0H282.5C294.926 0 305 10.0736 305 22.5C305 34.9264 294.926 45 282.5 45H252.295C243.685 45 236.205 40.164 232.422 33.0603C231.996 32.2598 230.726 32.2599 230.3 33.0603C226.517 40.164 219.037 45 210.428 45H22.5C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 1.41312e-08 22.5 0H210.428Z"/>
                                </mask>
                                <path d="M22.5 0L22.5 -1L22.5 0ZM232.422 33.0603L231.54 33.5303L232.422 33.0603ZM230.3 33.0603L229.418 32.5903L230.3 33.0603ZM230.3 11.9391L231.183 11.469L230.3 11.9391ZM232.422 11.9391L233.305 12.4091L232.422 11.9391ZM210.428 0V1C218.653 1 225.801 5.61888 229.418 12.4091L230.3 11.9391L231.183 11.469C227.233 4.05246 219.421 -1 210.428 -1V0ZM232.422 11.9391L233.305 12.4091C236.921 5.61888 244.069 1 252.295 1V0V-1C243.301 -1 235.489 4.05247 231.54 11.469L232.422 11.9391ZM252.295 0V1H282.5V0V-1H252.295V0ZM282.5 0V1C294.374 1 304 10.6259 304 22.5H305H306C306 9.52131 295.479 -1 282.5 -1V0ZM305 22.5H304C304 34.3741 294.374 44 282.5 44V45V46C295.479 46 306 35.4787 306 22.5H305ZM282.5 45V44H252.295V45V46H282.5V45ZM252.295 45V44C244.069 44 236.921 39.3808 233.305 32.5903L232.422 33.0603L231.54 33.5303C235.489 40.9471 243.301 46 252.295 46V45ZM230.3 33.0603L229.418 32.5903C225.802 39.3808 218.653 44 210.428 44V45V46C219.422 46 227.233 40.9472 231.183 33.5303L230.3 33.0603ZM210.428 45V44H22.5V45V46H210.428V45ZM22.5 45V44C10.6259 44 1 34.3741 1 22.5H0H-1C-1 35.4787 9.52131 46 22.5 46V45ZM0 22.5H1C1 10.6259 10.6259 1 22.5 1L22.5 0L22.5 -1C9.52131 -1 -1 9.52131 -1 22.5H0ZM22.5 0V1H210.428V0V-1H22.5V0ZM232.422 33.0603L233.305 32.5903C232.886 31.8026 232.08 31.46 231.361 31.46C230.643 31.46 229.837 31.8026 229.418 32.5903L230.3 33.0603L231.183 33.5303C231.19 33.5175 231.232 33.46 231.361 33.46C231.491 33.46 231.533 33.5175 231.54 33.5303L232.422 33.0603ZM230.3 11.9391L229.418 12.4091C229.837 13.1967 230.643 13.5393 231.361 13.5393C232.08 13.5393 232.886 13.1967 233.305 12.4091L232.422 11.9391L231.54 11.469C231.533 11.4818 231.491 11.5393 231.361 11.5393C231.232 11.5393 231.19 11.4818 231.183 11.469L230.3 11.9391Z" fill="#FF7700" mask="url(#path-1-inside-1_2021_11)"/>
                                <path class="button-arrow-transparent button-arrow" d="M265.887 12.6689L275.775 22.5563M275.775 22.5563L265.887 32.4436M275.775 22.5563L256 22.5563" stroke="#FF7700"/>
                            </svg>

                            .button-text 
                                | Посмотреть все
            .price-section__bottom 
                .prices__grid
                    .prices__item
                        .prices__item-img 
                            img(src="./assets/img/Group 1000001382.png", alt="")
                        .prices__item-content
                            .prices__item-text
                                p.paragraph__subtitle.prices__item-title Полотенцесушитель Л12
                                span.paragraph__subtitle.prices__item-price от 9 395 ₽

                            .shopcart.orange
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="1.5" cy="1.5" r="1" transform="matrix(1 0 0 -1 13 16)" stroke="white" />
                                    <circle cx="7.5" cy="14.5" r="1" stroke="white" />
                                    <path d="M4 4.5L5.33922 11.1961C5.43271 11.6635 5.84312 12 6.3198 12H15.2792C15.7097 12 16.0918 11.7246 16.2279 11.3162L18.0613 5.81623C18.2771 5.1687 17.7951 4.5 17.1126 4.5H4ZM4 4.5L3.17359 2.02078C3.06547 1.69642 2.79914 1.44978 2.46744 1.36686L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                    
                    .prices__item
                        .prices__item-img 
                            img(src="./assets/img/Group 1000001381.png", alt="")
                        .prices__item-content
                            .prices__item-text
                                p.paragraph__subtitle.prices__item-title Полотенцесушитель Л2(КВ)
                                span.paragraph__subtitle.prices__item-price от 7 982 ₽

                            .shopcart.orange
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="1.5" cy="1.5" r="1" transform="matrix(1 0 0 -1 13 16)" stroke="white" />
                                    <circle cx="7.5" cy="14.5" r="1" stroke="white" />
                                    <path d="M4 4.5L5.33922 11.1961C5.43271 11.6635 5.84312 12 6.3198 12H15.2792C15.7097 12 16.0918 11.7246 16.2279 11.3162L18.0613 5.81623C18.2771 5.1687 17.7951 4.5 17.1126 4.5H4ZM4 4.5L3.17359 2.02078C3.06547 1.69642 2.79914 1.44978 2.46744 1.36686L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                    .prices__item
                        .prices__item-img 
                            img(src="./assets/img/Group 1000001380.png", alt="")
                        .prices__item-content
                            .prices__item-text
                                p.paragraph__subtitle.prices__item-title Полотенцесушитель Л5(КВ)
                                span.paragraph__subtitle.prices__item-price от 10 359 ₽
                            .shopcart.orange
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="1.5" cy="1.5" r="1" transform="matrix(1 0 0 -1 13 16)" stroke="white" />
                                    <circle cx="7.5" cy="14.5" r="1" stroke="white" />
                                    <path d="M4 4.5L5.33922 11.1961C5.43271 11.6635 5.84312 12 6.3198 12H15.2792C15.7097 12 16.0918 11.7246 16.2279 11.3162L18.0613 5.81623C18.2771 5.1687 17.7951 4.5 17.1126 4.5H4ZM4 4.5L3.17359 2.02078C3.06547 1.69642 2.79914 1.44978 2.46744 1.36686L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>    
                    
                    .prices__item
                        .prices__item-img 
                            img(src="./assets/img/Group 1000001379.png", alt="")
                        .prices__item-content
                            .prices__item-text
                                p.paragraph__subtitle.prices__item-title Полотенцесушитель Л9(КВ)
                                span.paragraph__subtitle.prices__item-price от 15 154 ₽       
                            .shopcart.orange
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="1.5" cy="1.5" r="1" transform="matrix(1 0 0 -1 13 16)" stroke="white" />
                                    <circle cx="7.5" cy="14.5" r="1" stroke="white" />
                                    <path d="M4 4.5L5.33922 11.1961C5.43271 11.6635 5.84312 12 6.3198 12H15.2792C15.7097 12 16.0918 11.7246 16.2279 11.3162L18.0613 5.81623C18.2771 5.1687 17.7951 4.5 17.1126 4.5H4ZM4 4.5L3.17359 2.02078C3.06547 1.69642 2.79914 1.44978 2.46744 1.36686L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>    
                        