section.highlight
    .highlight__container 
        .highlight__top 
            h2.section__title-secondary 
                | Мы производим более 60 моделей полотенцесушителей по отличным ценам в Калининграде
            p.paragraph__subtitle 
                | В нашем каталоге представлены лучшие полотенцесушители Калининграда. Почему они лучшие?
        
                       

        .highlight__wrapper
            .highlight-row__block.highlight-row__block-1 
                p.paragraph__title 
                    | Хромированные, не подвержены коррозии
                    img.dc-1(src="./assets/img/Union (2).png", alt="")
                    
            
            .highlight-row__block.highlight-row__block-2.img 
                img(src="./assets/img/Rectangle 591.png", alt="")

            .highlight-row__block.highlight-row__block-3.black
                p.paragraph__title 
                    | Профессиональная помощь в выборе


            .highlight-row__block.highlight-row__block-4 
                p.paragraph__title 
                    | Идеальные швы

            .highlight-row__block.highlight-row__block-5.black
                p.paragraph__title 
                    | Нержавеющая сталь

            .highlight-row__block.highlight-row__block-6 
                p.paragraph__title 
                    | 70 вариантов цветов

            .highlight-row__block.highlight-row__block-7 
                p.paragraph__title 
                    | Полотенцесушитель от производителя

            .highlight-row__block.highlight-row__block-8.img 
                img(src="./assets/img/Rectangle 617 (1).png", alt="")           

            .highlight-row__block.highlight-row__block-9 
                p.paragraph__title 
                    | Гарантия и доставка
                    img.dc-2-mobile(src="./assets/img/Mask group (5).png", alt="")

            .highlight-row__block.highlight-row__block-10.img 
                img(src="./assets/img/Rectangle 599.png", alt="")

            .highlight-row__block.highlight-row__block-11 
                p.paragraph__title
                    | Лучшая цена в Калининграде на нашу продукцию

            .highlight-row__block.highlight-row__block-12
                p.paragraph__title 
                    | Полная сертификации соответствия