.highlight {

  

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include adaptiveValue(padding-top, 50px, 8px, 1920px, 467px);
        @include adaptiveValue(padding-right, 32px, 8px, 1920px, 467px);
        @include adaptiveValue(padding-left, 50px, 8px, 1920px, 467px);
        @include adaptiveValue(padding-bottom, 50px, 26px, 1920px, 467px);

        
        border: 1px solid #cacaca;
        border-bottom: none;

        @media (max-width:991px) {
            flex-direction: column;
            gap: 24px;
        }

        h2 {
            max-width: 790px;

            @media (max-width:991px) {
                font-weight: 500;
            }
            @media (max-width:467px) {
                line-height: normal;
            }
        }

        p {
            max-width: 350px;
            line-height: 144%;

            @media (max-width:467px) {
                font-weight: 400;
            }
        }
    }
    &__wrapper {

    }
    &-row {
        display: flex;
        max-height: 245px;
        overflow: hidden;

        @media (max-width:991px) {
            flex-direction: column;
        }

        &.first {
            .highlight-row__block {
                width: 33.33%;
            }
        }


        &__block {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #cacaca;
            overflow: hidden;

            position: relative;

            max-height: 250px;
            @include adaptiveValue(max-height, 250px, 400px, 1920px, 467px);
            @include adaptiveValue(height, 250px, 400px, 1920px, 467px);

            @include adaptiveValue(padding-right, 32px, 8px, 1920px, 467px);
            @include adaptiveValue(padding-left, 32px, 8px, 1920px, 467px);

            @media (max-width:991px) {
                width: 100% !important;
                height: 100%;
                justify-content: flex-start;

                padding: 30px;
            }

            &.img {
                padding: 0;
                
                @media (max-width:991px) {
                   
                }
                

                p {
                    @include adaptiveValue(padding-right, 32px, 8px, 1920px, 467px);
                    @include adaptiveValue(padding-left, 50px, 8px, 1920px, 467px);
                }
            }

            &.black {
                background-color: #323232;

                p {
                    color: #fff;
                }
            }


            img {
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p {
                text-align: center;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                max-width: 400px;

                @media (max-width:1440px) {
                    font-size: 16px;
                }

                @media (max-width:991px) {
                    font-size: 24px;
                    @include adaptiveValue(font-size, 24px, 16px);
                    text-align: left;
                }

                .dc {
                   
                    

                    &-1 {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 80px;
                        height: fit-content;
                    }

                    &-2-mobile {
                        display: none;
                        @media (max-width:991px) {
                            display: flex;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 105px;
                            height: 80px;
                            
                        }
                    }
                }
            }

            &-30 {
                display: flex;
                width: 30%;

                &:not(.img) {
                    justify-content: center;
                }

                &.img {
                    position: relative;
                    img:not(.dc) {
                        display: flex;
                        width: 100%;
                        max-height: 245px;
                    }
                    .dc {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 90px;
                    }
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    position: relative;
                }

                &.black {
                    background-color: #323232;
                    p {
                        color: #fff;
                    }
                }
            }
            &-33 {
                display: flex;
                width: 33.33%;

                &:not(.img) {
                    justify-content: center;
                }

                &.img {
                    position: relative;
                    img:not(.dc) {
                        display: flex;
                        width: 100%;
                        max-height: 245px;
                    }
                    .dc {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 90px;
                    }
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    position: relative;
                }

                &.black {
                    background-color: #323232;
                    p {
                        color: #fff;
                    }
                }
            }
            &-20 {
                width: 20%;

                &.black {
                    background-color: #323232;
                    p {
                        color: #fff;
                    }
                }
            }
            &-25 {
                width: 25%;

                &.black {
                    background-color: #323232;
                    p {
                        color: #fff;
                    }
                }
            }
            &-50 {
                width: 50%;
                position: relative;

                p {
                    max-width: 400px;
                }

                &.black {
                    background-color: #323232;
                    p {
                        color: #fff;
                        
                    }
                }

                img {
                    display: flex;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    max-width: 150px;
                    @include adaptiveValue(max-width, 120px, 70px, 1920px, 467px);
                    
                }
            }
            &-35 {
                width: 35%;

                &.black {
                    background-color: #323232;
                    p {
                        color: #fff;
                    }
                }

                img {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }
}



.highlight__wrapper {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "highlight-row__block-1 highlight-row__block-1 highlight-row__block-2 highlight-row__block-3 highlight-row__block-3 highlight-row__block-3 highlight-row__block-4 highlight-row__block-4 highlight-row__block-4"
    "highlight-row__block-5 highlight-row__block-5 highlight-row__block-6 highlight-row__block-7 highlight-row__block-7 highlight-row__block-8 highlight-row__block-8 highlight-row__block-8 highlight-row__block-8"
    "highlight-row__block-9 highlight-row__block-9 highlight-row__block-10 highlight-row__block-11 highlight-row__block-11 highlight-row__block-11 highlight-row__block-11 highlight-row__block-12 highlight-row__block-12";


    @media (max-width:991px) {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "highlight-row__block-1 highlight-row__block-1"
            "highlight-row__block-2 highlight-row__block-2"
            "highlight-row__block-2 highlight-row__block-2"
            "highlight-row__block-2 highlight-row__block-2"
            "highlight-row__block-3 highlight-row__block-3"
            "highlight-row__block-4 highlight-row__block-6"
            "highlight-row__block-5 highlight-row__block-5"
            "highlight-row__block-8 highlight-row__block-8"
            "highlight-row__block-8 highlight-row__block-8"
            "highlight-row__block-8 highlight-row__block-8"
            "highlight-row__block-7 highlight-row__block-7"
            "highlight-row__block-9 highlight-row__block-9"
            "highlight-row__block-10 highlight-row__block-10"
            "highlight-row__block-10 highlight-row__block-10"
            "highlight-row__block-10 highlight-row__block-10"
            "highlight-row__block-12 highlight-row__block-12"
            "highlight-row__block-11 highlight-row__block-11"; 
    }
}

.highlight-row__block-2 { grid-area: highlight-row__block-2; }

.highlight-row__block-1 { grid-area: highlight-row__block-1; }

.highlight-row__block-3 { grid-area: highlight-row__block-3; }

.highlight-row__block-4 { grid-area: highlight-row__block-4; }

.highlight-row__block-5 { grid-area: highlight-row__block-5; }

.highlight-row__block-6 { grid-area: highlight-row__block-6; }

.highlight-row__block-7 { grid-area: highlight-row__block-7; }

.highlight-row__block-8 { grid-area: highlight-row__block-8; }

.highlight-row__block-9 { grid-area: highlight-row__block-9; }

.highlight-row__block-10 { grid-area: highlight-row__block-10; }

.highlight-row__block-11 { grid-area: highlight-row__block-11; }

.highlight-row__block-12 { grid-area: highlight-row__block-12; }






@media (min-width:992px) {
	.highlight-row__block-4, 	
    .highlight-row__block-6, 
	.highlight-row__block-12 {
		background-color: #F7F7F7;	
	}
}
@media (max-width:991px) {
	.highlight-row__block-5 {
        background-color: #F7F7F7 !important;
         
        p {
            color: #000 !important;
        }
    }

    .highlight-row__block-11 {
        
    }

    .highlight-row__block-6 {
        background-color: #323232;

        p {
            color: #fff;
        }
    }
    .highlight-row__block-7 {
        background-color: #323232;

        p {
            color: #fff;
        }
    }

    .highlight-row__block-12 {
        background-color: #323232;

        p {
            color: #fff;
        }
    }
    .highlight-row__block-11 {
        background-color: #F7F7F7 !important;
         
        p {
            color: #000 !important;
        }
    }

    
	
}