section.highlight
    .highlight__container 
        .highlight__top 
            h2.section__title-secondary 
                | Мы производим более 60 моделей полотенцесушителей по отличным ценам в Калининграде
            p.paragraph__subtitle 
                | В нашем каталоге представлены лучшие полотенцесушители Калининграда. Почему они лучшие?
        .highlight__wrapper 
            .highlight-row.first
                .highlight-row__block.highlight-row__block-30.img
                    p.paragraph__title 
                        | Хромированные, не подвержены коррозии
                        img.dc(src="./assets/img/Union (2).png", alt="")
                   
                    img(src="./assets/img/Rectangle 591.png", alt="")

                .highlight-row__block.highlight-row__block-30.black 
                    p.paragraph__title 
                        | Профессиональная помощь в выборе

                .highlight-row__block.highlight-row__block-30
                    p.paragraph__title 
                        | Идеальные швы


                    
            .highlight-row
                .highlight-row__block.highlight-row__block-20.black 
                    p.paragraph__title 
                        | Нержавеющая сталь
                .highlight-row__block.highlight-row__block-20 
                    p.paragraph__title 
                        | 70 вариантов цветов
                .highlight-row__block.highlight-row__block-25 
                    p.paragraph__title 
                        | Полотенцесушитель от производителя
                .highlight-row__block.highlight-row__block-35.img 
                    img(src="./assets/img/Rectangle 617 (1).png", alt="")                     

            
            .highlight-row         
                .highlight-row__block.highlight-row__block-33.img
                    p.paragraph__title 
                        | Хромированные, не подвержены коррозии
                   
                    img(src="./assets/img/Rectangle 599.png", alt="")
                .highlight-row__block.highlight-row__block-50
                    p.paragraph__title
                        | Лучшая цена в Калининграде на нашу продукцию
                    img.dc-2(src="./assets/img/Union (3).png", alt="")
                .highlight-row__block.hightlight-row__block-20 
                    p.paragraph__title 
                        | Полная сертификации соответствия                