section.benefits
    .benefits__container 
        h2.section__title
            | Преимущества полотенцесушителей из нержавеющей стали
        .benefits__wrapper
            .benefits__left 
                .benefits-corrosion__img 
                    img(src="./assets/img/Rectangle 576.png", alt="")
                .benefits-corrosion__block 
                    p.paragraph__title
                        | Устойчивы к коррозии
                    p.paragraph__subtitle
                        | Благодаря повышенному содержанию хрома, нержавеющая сталь абсолютно не подвержена коррозии
                    <p class="paragraph__subtitle-secondary"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.46973 4.85156L12.9004 1.4209L14.8135 3.33398L11.3838 6.76367H16.2344V9.46973H11.3828L14.8135 12.9004L12.9004 14.8135L9.46973 11.3828V16.2344H6.76465V11.3828L3.33398 14.8135L1.4209 12.9004L4.85156 9.46973H0V6.76367H4.85059L1.4209 3.33398L3.33398 1.4209L6.76465 4.85156V0H9.46973V4.85156Z" fill="white" /></svg>Срок службы более 10 лет</p>   
            .benefits__right 
                .benefits__right-top 
                    .benefits-seams
                        .benefits-seams__block 
                            p.paragraph__title
                                | Идеальные сварные швы
                            p.paragraph__subtitle
                                | Мы уделяем огромное внимание тщательной обработке и проверке сварных швов, по этому они такие прочные и гладкие. А полировка усиливает этот эффект
                            <p class="paragraph__subtitle-secondary"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.46973 4.85156L12.9004 1.4209L14.8135 3.33398L11.3838 6.76367H16.2344V9.46973H11.3828L14.8135 12.9004L12.9004 14.8135L9.46973 11.3828V16.2344H6.76465V11.3828L3.33398 14.8135L1.4209 12.9004L4.85156 9.46973H0V6.76367H4.85059L1.4209 3.33398L3.33398 1.4209L6.76465 4.85156V0H9.46973V4.85156Z" fill="#FF7700" /></svg>Не текут</p>   

                            img.dc(src="./assets/img/Union (1).png", alt="")
                        .benefits-seams__img 
                            img(src="./assets/img/Rectangle 575.png", alt="")
                .benefits__right-bottom  
                    .benefits-paint 
                        .benefits-paint__img 
                            img(src="./assets/img/Rectangle 577.png", alt="")
                        .benefits-paint__block
                            p.paragraph__title
                                | Надёжное покрытие порошковой краской
                            p.paragraph__subtitle
                                | Наносим краску путем напыления, с дальнейшим оплавлением и полимеризацией порошкового покрытия в печи полимеризации
                            <p class="paragraph__subtitle-secondary"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.46973 4.85156L12.9004 1.4209L14.8135 3.33398L11.3838 6.76367H16.2344V9.46973H11.3828L14.8135 12.9004L12.9004 14.8135L9.46973 11.3828V16.2344H6.76465V11.3828L3.33398 14.8135L1.4209 12.9004L4.85156 9.46973H0V6.76367H4.85059L1.4209 3.33398L3.33398 1.4209L6.76465 4.85156V0H9.46973V4.85156Z" fill="#FF7700" /></svg>Краска не трескается от температуры<br> и времени</p>   
