section.about-company
    .about-company__container 
        .about-company__wrapper 
            .about-company_top 
                .about-company__title 
                    h3.section__title-secondary
                        | Наша компания работает<br>на Российском рынке уже 8 лет
                    img(src="./assets/img/Mask group (2).png", alt="")
            .about-company__bottom 
                .about-company-col
                    p.paragraph__title
                        | Производим<br>более 70 000<br> полотенцесушителей<br> в год
                    p.paragraph__title
                        | Партнеры в 15<br>регионах России
                .about-company-col
                    p.paragraph__subtitle 
                        | За это время компания из небольшого регионального производителя превратилась в серьезного Российского игрока. Мы являемся производителем более 100 моделей продукции: водяные и электрические полотенцесушители из нержавеющей стали, фитинги и поручни. А близость к Европе позволяет использовать в изготовлении продукции только безопасные материалы и самые современные технологии.
                .about-company-col
                    img(src="./assets/img/image 619.png", alt="")
