//- video-section
section.video-section
    .video-section__container 
        .video-section__wrapper
            .video-section__video 
                img(src="./assets/img/Group 1000001423.png", alt="")
            .video-section__text 
                h2.section__title 
                    | Полотенцесушители в Калининграде
                p.paragraph__subtitle-secondary
                    | В наличии электрические полотенцесушители для ванной с терморегулятором и дизайнерские радиаторы отопления. Водяные нержавеющие полотенцесушители премиум класса.
                p.paragraph__subtitle-secondary 
                    | У нас на сайте представлены, как бюджетные варианты от 1066 рублей, до самых крутых и стильных вариантов!
                p.paragraph__subtitle-secondary 
                    | Мы точно сможем подобрать под вас лучшее решение для ванной комнаты.
