footer.footer 
    .footer__container
        .footer__wrapper 
            .footer__col 
                <svg class="bg-dc-1" width="55" height="56" viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="path-1-inside-1_1_26" fill="white">
                        <path d="M27.6071 15.723L34.1864 0.628013L42.6064 4.29723L36.0266 19.3934L51.3538 13.3715L54.7124 21.92L39.3852 27.9419L54.4814 34.5218L50.8118 42.9409L35.7156 36.361L41.7379 51.6892L33.1895 55.0478L27.1672 39.7197L20.5877 54.8168L12.1673 51.1466L18.7471 36.0504L3.41989 42.0724L0.0612733 33.5239L15.3894 27.5016L0.293192 20.9218L3.96277 12.5026L19.059 19.0825L13.037 3.75526L21.5855 0.396647L27.6071 15.723Z" />
                    </mask>
                    <path d="M27.6071 15.723L26.6763 16.0886L27.5592 18.3356L28.5238 16.1225L27.6071 15.723ZM34.1864 0.628013L34.5859 -0.288725L33.6692 -0.688184L33.2697 0.228456L34.1864 0.628013ZM42.6064 4.29723L43.5231 4.69679L43.9227 3.78001L43.0059 3.3805L42.6064 4.29723ZM36.0266 19.3934L35.1099 18.9939L34.1452 21.207L36.3923 20.3242L36.0266 19.3934ZM51.3538 13.3715L52.2845 13.0058L51.9189 12.0751L50.9881 12.4408L51.3538 13.3715ZM54.7124 21.92L55.0781 22.8507L56.0088 22.485L55.6432 21.5543L54.7124 21.92ZM39.3852 27.9419L39.0195 27.0112L36.7725 27.894L38.9856 28.8586L39.3852 27.9419ZM54.4814 34.5218L55.3981 34.9213L55.7977 34.0046L54.881 33.605L54.4814 34.5218ZM50.8118 42.9409L50.4123 43.8576L51.329 44.2572L51.7285 43.3405L50.8118 42.9409ZM35.7156 36.361L36.1152 35.4443L33.902 34.4797L34.7849 36.7267L35.7156 36.361ZM41.7379 51.6892L42.1036 52.6199L43.0343 52.2542L42.6687 51.3235L41.7379 51.6892ZM33.1895 55.0478L32.2587 55.4135L32.6244 56.3442L33.5551 55.9785L33.1895 55.0478ZM27.1672 39.7197L28.0979 39.354L27.215 37.1068L26.2504 39.3201L27.1672 39.7197ZM20.5877 54.8168L20.1881 55.7335L21.1048 56.1331L21.5044 55.2163L20.5877 54.8168ZM12.1673 51.1466L11.2505 50.7471L10.851 51.6638L11.7677 52.0634L12.1673 51.1466ZM18.7471 36.0504L19.6638 36.45L20.6284 34.2369L18.3814 35.1197L18.7471 36.0504ZM3.41989 42.0724L2.48915 42.4381L2.85483 43.3688L3.78557 43.0031L3.41989 42.0724ZM0.0612733 33.5239L-0.304407 32.5932L-1.23515 32.9589L-0.869467 33.8896L0.0612733 33.5239ZM15.3894 27.5016L15.7551 28.4324L18.0021 27.5495L15.789 26.5849L15.3894 27.5016ZM0.293192 20.9218L-0.623516 20.5222L-1.02307 21.4389L-0.106366 21.8385L0.293192 20.9218ZM3.96277 12.5026L4.36233 11.5859L3.44562 11.1864L3.04606 12.1031L3.96277 12.5026ZM19.059 19.0825L18.6594 19.9992L20.8726 20.9638L19.9897 18.7168L19.059 19.0825ZM13.037 3.75526L12.6714 2.82452L11.7406 3.1902L12.1063 4.12094L13.037 3.75526ZM21.5855 0.396647L22.5162 0.0309661L22.1506 -0.899774L21.2198 -0.534094L21.5855 0.396647ZM27.6071 15.723L28.5238 16.1225L35.1031 1.02757L34.1864 0.628013L33.2697 0.228456L26.6904 15.3234L27.6071 15.723ZM34.1864 0.628013L33.7869 1.54475L42.2069 5.21397L42.6064 4.29723L43.0059 3.3805L34.5859 -0.288725L34.1864 0.628013ZM42.6064 4.29723L41.6897 3.89768L35.1099 18.9939L36.0266 19.3934L36.9433 19.793L43.5231 4.69679L42.6064 4.29723ZM36.0266 19.3934L36.3923 20.3242L51.7195 14.3022L51.3538 13.3715L50.9881 12.4408L35.6609 18.4627L36.0266 19.3934ZM51.3538 13.3715L50.4231 13.7372L53.7817 22.2856L54.7124 21.92L55.6432 21.5543L52.2845 13.0058L51.3538 13.3715ZM54.7124 21.92L54.3467 20.9892L39.0195 27.0112L39.3852 27.9419L39.7509 28.8726L55.0781 22.8507L54.7124 21.92ZM39.3852 27.9419L38.9856 28.8586L54.0818 35.4385L54.4814 34.5218L54.881 33.605L39.7847 27.0252L39.3852 27.9419ZM54.4814 34.5218L53.5647 34.1222L49.8951 42.5413L50.8118 42.9409L51.7285 43.3405L55.3981 34.9213L54.4814 34.5218ZM50.8118 42.9409L51.2114 42.0242L36.1152 35.4443L35.7156 36.361L35.3161 37.2777L50.4123 43.8576L50.8118 42.9409ZM35.7156 36.361L34.7849 36.7267L40.8072 52.0548L41.7379 51.6892L42.6687 51.3235L36.6464 35.9954L35.7156 36.361ZM41.7379 51.6892L41.3722 50.7584L32.8238 54.117L33.1895 55.0478L33.5551 55.9785L42.1036 52.6199L41.7379 51.6892ZM33.1895 55.0478L34.1202 54.6821L28.0979 39.354L27.1672 39.7197L26.2364 40.0853L32.2587 55.4135L33.1895 55.0478ZM27.1672 39.7197L26.2504 39.3201L19.6709 54.4173L20.5877 54.8168L21.5044 55.2163L28.0839 40.1192L27.1672 39.7197ZM20.5877 54.8168L20.9872 53.9001L12.5668 50.2299L12.1673 51.1466L11.7677 52.0634L20.1881 55.7335L20.5877 54.8168ZM12.1673 51.1466L13.084 51.5462L19.6638 36.45L18.7471 36.0504L17.8304 35.6509L11.2505 50.7471L12.1673 51.1466ZM18.7471 36.0504L18.3814 35.1197L3.05421 41.1416L3.41989 42.0724L3.78557 43.0031L19.1128 36.9812L18.7471 36.0504ZM3.41989 42.0724L4.35063 41.7067L0.992014 33.1582L0.0612733 33.5239L-0.869467 33.8896L2.48915 42.4381L3.41989 42.0724ZM0.0612733 33.5239L0.426954 34.4547L15.7551 28.4324L15.3894 27.5016L15.0237 26.5709L-0.304407 32.5932L0.0612733 33.5239ZM15.3894 27.5016L15.789 26.5849L0.692749 20.0051L0.293192 20.9218L-0.106366 21.8385L14.9898 28.4183L15.3894 27.5016ZM0.293192 20.9218L1.2099 21.3213L4.87948 12.9022L3.96277 12.5026L3.04606 12.1031L-0.623516 20.5222L0.293192 20.9218ZM3.96277 12.5026L3.56321 13.4193L18.6594 19.9992L19.059 19.0825L19.4585 18.1658L4.36233 11.5859L3.96277 12.5026ZM19.059 19.0825L19.9897 18.7168L13.9678 3.38958L13.037 3.75526L12.1063 4.12094L18.1282 19.4482L19.059 19.0825ZM13.037 3.75526L13.4027 4.686L21.9512 1.32739L21.5855 0.396647L21.2198 -0.534094L12.6714 2.82452L13.037 3.75526ZM21.5855 0.396647L20.6548 0.762327L26.6763 16.0886L27.6071 15.723L28.5378 15.3573L22.5162 0.0309661L21.5855 0.396647Z" fill="#CACACA" mask="url(#path-1-inside-1_1_26)" />
                </svg>

                a.footer__logo(href="")
                    <svg width="208" height="52" viewBox="0 0 208 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.1766 51.111H36.8143C36.0608 51.111 35.4402 50.5004 35.4402 49.7451V9.33439C35.4402 9.19591 35.4402 9.13296 35.3706 9.13296C35.3009 9.13296 35.3009 9.13296 35.2313 9.27144L25.4357 29.439C24.7518 30.8049 24.0679 31.4155 22.352 31.4155H19.1986C17.4827 31.4155 16.7988 30.8049 16.1149 29.439L6.31301 9.27144C6.24336 9.13296 6.24335 9.13296 6.1737 9.13296C6.10405 9.13296 6.10405 9.2022 6.10405 9.33439V49.7451C6.10405 50.4941 5.48985 51.111 4.73001 51.111H1.37404C0.620536 51.111 0 50.5004 0 49.7451V2.4545C0 1.36555 0.892813 0.478027 1.98825 0.478027H6.44598C7.68072 0.478027 8.22527 0.748691 8.63685 1.63621L19.9458 25.014C20.2181 25.6245 20.427 25.763 20.769 25.763C21.1109 25.763 21.3199 25.6245 21.5921 25.014L32.9011 1.63621C33.3127 0.748691 33.8636 0.478027 35.092 0.478027H39.5497C40.6451 0.478027 41.5379 1.36555 41.5379 2.4545V49.7514C41.5506 50.5004 40.9301 51.111 40.1766 51.111Z" fill="#323232" />
                        <path d="M87.0651 51.1113H83.0189C82.4047 51.1113 81.9932 50.6329 81.8539 50.0916L77.3961 34.4183H59.6412L55.2531 50.0916C55.1138 50.6392 54.5693 51.1113 54.0184 51.1113H49.9722C49.2884 51.1113 48.8071 50.6329 48.8071 50.0224C48.8071 49.8839 48.8071 49.6825 48.8768 49.544L61.5598 5.18037C62.7249 1.026 65.9479 0 68.5503 0C71.0894 0 74.3061 0.956765 75.4712 5.11113L88.1542 49.544C88.2238 49.6825 88.2238 49.8839 88.2238 50.0224C88.2302 50.6329 87.8249 51.1113 87.0651 51.1113ZM69.861 6.60922C69.6521 5.86018 69.2405 5.38809 68.5566 5.38809C67.8031 5.38809 67.3916 5.86647 67.1826 6.61552L60.9456 29.0365H76.0981L69.861 6.60922Z" fill="#323232" />
                        <path d="M129.502 51.1113H125.114C124.291 51.1113 123.879 51.1113 123.335 50.2238L111.063 29.9177C110.861 29.9177 110.652 29.9177 110.449 29.9177C110.037 29.9177 109.695 29.9177 109.284 29.9177C107.023 29.9177 105.377 29.8485 101.742 29.7163V49.7517C101.742 50.4315 101.261 51.1176 100.508 51.1176H96.8035C96.1197 51.1176 95.5688 50.5071 95.5688 49.7517V2.04571C95.5688 1.08895 95.9804 0.679808 97.2151 0.547624C100.166 0.207721 105.307 0 109.278 0C120.112 0 128.47 3.61304 128.47 14.6536V15.132C128.47 22.7672 123.942 27.2615 117.705 28.898L130.18 49.6132C130.319 49.8147 130.382 50.0224 130.382 50.2238C130.395 50.7022 130.053 51.1113 129.502 51.1113ZM122.309 14.6536C122.309 7.83665 117.851 5.58951 109.284 5.58951C107.156 5.58951 103.389 5.58952 101.742 5.79094V24.4667C104.757 24.536 107.707 24.6052 109.284 24.6052C117.718 24.6052 122.309 22.4902 122.309 15.132V14.6536Z" fill="#323232" />
                        <path d="M168.995 51.111H142.603C138.215 51.111 136.91 50.0913 136.91 46.4782C136.91 45.32 137.252 43.545 137.936 42.5253L162.479 7.01801C162.618 6.81659 162.682 6.60887 162.682 6.47039C162.682 6.19973 162.409 5.99201 161.998 5.99201H139.241C138.557 5.99201 137.867 5.58286 137.867 4.83382V1.63621C137.867 0.956409 138.481 0.478027 139.241 0.478027H163.644C167.481 0.478027 169.47 1.22707 169.47 4.97859C169.47 6.20602 169.058 7.97477 168.374 9.00078L143.901 44.508C143.762 44.7095 143.698 44.9864 143.698 45.1186C143.698 45.3893 143.901 45.5277 144.382 45.5277H168.995C169.748 45.5277 170.369 45.9369 170.369 46.6859V49.8898C170.362 50.5696 169.748 51.111 168.995 51.111Z" fill="#323232" />
                        <path d="M207.316 51.2498C204.714 51.5205 197.995 51.5897 193.949 51.5897C184.35 51.5897 179.348 47.9767 179.348 38.9126V12.6771C179.348 3.61304 184.35 0 193.949 0C197.995 0 204.435 0.138479 207.316 0.409143C207.728 0.478382 208 0.956764 208 1.36591V4.77123C208 5.24961 207.728 5.58951 207.246 5.58951H194.012C186.743 5.58951 185.578 7.49675 185.578 12.6771V22.1503H206.626C207.379 22.1503 208 22.7609 208 23.5162V26.1033C208 26.8523 207.386 27.4692 206.626 27.4692H185.578V38.9189C185.578 44.0993 186.743 46.0065 194.012 46.0065H207.246C207.728 46.0065 208 46.3464 208 46.8248V50.2993C208 50.7022 207.728 51.1806 207.316 51.2498Z" fill="#323232" />
                    </svg> 
                .footer__address
                    p 
                        | 236023, Россия, Калининград, ул. Третьяковская, 2
                a.footer__tel(href="tel:+") 
                    | +7 (4012) 52-04-51
                a.footer__tel(href="tel:+") 
                    | +7 (921) 616-55-93
                p.footer__sales
                    | Отдел продаж: marze.office@mail.ru
                p.footer__additional     
                    | пн-пт с 9:00 — 18:00<br>
                    | сб 10:00 — 18:00<br>
                    | вс выходной
                    
            .footer__col 
                p.footer__menu-title
                    |  Разделы
                ul.footer__menu 
                    li.footer__link 
                        a(href="") 
                            | Каталог  
                    li.footer__link 
                        a(href="") 
                            | Доставка  
                    li.footer__link 
                        a(href="") 
                            | Партнерам  
                    li.footer__link 
                        a(href="") 
                            | Новости  
                    li.footer__link 
                        a(href="") 
                            | Статьи  
                    li.footer__link 
                        a(href="") 
                            | Дизайнерам  
                    li.footer__link 
                        a(href="") 
                            | Контакты  
                    li.footer__link 
                        a(href="") 
                            | Политика конфиденциальности  
                    li.footer__link 
                        a(href="") 
                            | Пользовательское соглашение  
                    
            .footer__col 
                    p.footer__menu-title
                        | Каталог

                    ul.footer__menu-secondary 
                        li.footer__link 
                            a(href="") 
                                | Водяные полотенцесушители  
                        li.footer__link 
                            a(href="") 
                                | Водяные: лесенка  
                        li.footer__link 
                            a(href="") 
                                | Водяные: М- и П- образные  
                        li.footer__link 
                            a(href="") 
                                | Водяные: Фокстрот  
                        li.footer__link 
                            a(href="") 
                                | Водяные: премиум из профильной трубы  

                    ul.footer__menu-secondary 
                        li.footer__link 
                            a(href="") 
                                | Электрические полотенцесушители         
                    
                    ul.footer__menu-secondary 
                        li.footer__link 
                            a(href="") 
                                | Дизайнерские радиаторы
                        li.footer__link 
                            a(href="") 
                                | Дизайнерские полотенцесушители
                    
                    ul.footer__menu-secondary 
                        li.footer__link 
                            a(href="") 
                                | Аксессуары
                        li.footer__link 
                            a(href="") 
                                | Поручни
                        li.footer__link 
                            a(href="") 
                                | Карнизы
                    
                    
            .footer__col
                .footer__socials 
                    .socials
                        a.socials__item
                            .socials__logo
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M0.00158449 20C0.335049 19.019 0.651088 18.0856 0.968711 17.153C1.20713 16.453 1.45742 15.7561 1.68 15.0505C1.72356 14.9132 1.71326 14.7164 1.64515 14.5918C0.139406 11.8146 -0.0617822 8.94464 1.13663 6.0294C2.18693 3.47371 4.05465 1.6879 6.62731 0.68943C9.05345 -0.251891 11.5065 -0.229667 13.9073 0.758482C16.4657 1.81092 18.2994 3.64435 19.3029 6.23735C20.3714 8.99861 20.213 11.7345 18.8174 14.341C17.4518 16.8911 15.3172 18.5261 12.5069 19.2142C10.1663 19.7881 7.89622 19.5373 5.73781 18.4396C5.51603 18.3269 5.33227 18.3118 5.09464 18.3888C3.52237 18.9023 1.94455 19.3984 0.367524 19.8992C0.262178 19.9325 0.154455 19.9579 0 19.9992L0.00158449 20ZM2.48554 17.6237C3.49544 17.3006 4.43801 17.0078 5.37425 16.6943C5.58494 16.6236 5.73623 16.653 5.92157 16.7649C7.79246 17.8943 9.81701 18.2221 11.935 17.7665C16.6091 16.7601 19.4653 12.0869 18.1212 7.51361C16.6891 2.64112 11.2927 0.210039 6.74296 2.33555C2.06336 4.52218 0.538613 10.0796 3.38455 14.36C3.48831 14.5156 3.50811 14.6426 3.44633 14.8188C3.12633 15.7307 2.819 16.6466 2.48633 17.6245L2.48554 17.6237Z" fill="black"/>
                                    <path d="M5.38296 7.5779C5.38455 6.82944 5.67128 6.20719 6.18455 5.66748C6.57583 5.25634 7.04949 5.31587 7.52395 5.39286C7.619 5.40794 7.72434 5.54604 7.77029 5.6516C8.05781 6.31037 8.33504 6.9739 8.60118 7.64139C8.6384 7.73505 8.62335 7.87236 8.58296 7.9684C8.51484 8.12952 8.42613 8.28984 8.31365 8.42397C7.73543 9.1137 7.68633 8.91607 8.27563 9.77405C9.02494 10.8638 10.0396 11.6249 11.2546 12.117C11.379 12.167 11.6182 12.1091 11.7164 12.0123C11.9818 11.7503 12.2075 11.4456 12.4332 11.1463C12.5822 10.9487 12.7643 10.8828 12.9782 10.9821C13.6388 11.2892 14.2962 11.6043 14.9449 11.9369C15.0408 11.9861 15.1319 12.1456 15.1358 12.2567C15.158 12.8964 14.9703 13.4433 14.4071 13.8219C13.6119 14.356 12.7936 14.4513 11.8542 14.1965C9.14454 13.46 7.29504 11.698 5.89781 9.36053C5.5596 8.79542 5.379 8.13666 5.38296 7.5779Z" fill="black"/>
                                </svg>
                        a.socials__item 
                            .socials__logo
                                <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0664 11.7453C9.45642 12.33 8.85282 12.909 8.24843 13.4872C8.11139 13.6185 7.97753 13.7522 7.83732 13.8794C7.3264 14.3441 6.70062 14.1814 6.47725 13.5211C5.97742 12.0409 5.47442 10.5623 4.99281 9.07645C4.90647 8.81149 4.76864 8.69714 4.51516 8.62949C3.18677 8.27434 1.86313 7.90067 0.537122 7.53666C0.244036 7.45613 0.0317478 7.30231 0.00243924 6.97373C-0.0229087 6.68784 0.149774 6.47604 0.498308 6.34799C6.20634 4.26058 11.9144 2.17156 17.6256 0.092205C17.8394 0.0140881 18.0945 -0.021346 18.3163 0.0132832C18.8153 0.0922053 19.0862 0.539968 18.9753 1.03927C17.9971 5.43234 17.018 9.82621 16.0358 14.2185C15.8718 14.9521 15.1439 15.2275 14.5046 14.7919C13.1168 13.8456 11.7361 12.8889 10.3523 11.9362C10.2628 11.875 10.1717 11.8162 10.0648 11.7445L10.0664 11.7453ZM6.96519 12.632C6.9945 12.6247 7.02381 12.6175 7.05233 12.6102C7.07134 12.5241 7.09669 12.4387 7.10698 12.3509C7.19332 11.6237 7.28679 10.8973 7.3565 10.1685C7.38106 9.90754 7.48007 9.72554 7.67969 9.56125C9.68217 7.90872 11.6799 6.24894 13.6784 4.59157C14.2907 4.08341 14.907 3.58008 15.5114 3.06145C15.5882 2.99541 15.6001 2.85206 15.6429 2.74496C15.5201 2.73851 15.3965 2.72804 15.2738 2.72965C15.2389 2.72965 15.2056 2.7667 15.1708 2.78683C12.1013 4.57225 9.03263 6.35685 5.96316 8.14227C5.60354 8.35165 5.56235 8.45473 5.69146 8.84773C6.07802 10.0267 6.46536 11.2049 6.8543 12.3831C6.88281 12.4685 6.92796 12.549 6.96519 12.6312V12.632Z" fill="black" />
                                </svg>
                        a.socials__item    
                            .socials__logo
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2415 7.0098C14.2415 7.0098 15.5351 8.40651 15.8551 9.05282C15.8617 9.06188 15.8666 9.07229 15.8695 9.08344C15.9996 9.32191 16.0324 9.50994 15.9679 9.64754C15.8599 9.87581 15.4943 9.99038 15.3703 10H13.0839C12.9247 10 12.5935 9.95452 12.1903 9.65017C11.8824 9.4149 11.576 9.02746 11.2792 8.64877C10.836 8.08641 10.4528 7.59839 10.0648 7.59839C10.0158 7.59906 9.96727 7.60791 9.92077 7.62463C9.62717 7.72608 9.25438 8.18349 9.25438 9.40178C9.25438 9.7831 8.97918 10 8.78638 10H7.73919C7.3824 10 5.52482 9.86356 3.87763 7.96484C1.85925 5.6402 0.0464716 0.976911 0.0288717 0.935806C-0.0839271 0.634074 0.15287 0.469652 0.408868 0.469652H2.71764C3.02724 0.469652 3.12804 0.674305 3.19844 0.857967C3.28004 1.06874 3.58244 1.91184 4.07843 2.85902C4.88162 4.40003 5.37522 5.02711 5.76961 5.02711C5.8437 5.02723 5.91651 5.00612 5.98081 4.96589C6.49601 4.65629 6.40001 2.64474 6.37601 2.23019C6.37601 2.14973 6.37521 1.33199 6.11121 0.93668C5.92241 0.653315 5.60082 0.543117 5.40642 0.502886C5.45842 0.420675 5.56882 0.294735 5.71041 0.220395C6.06321 0.0279866 6.7008 0 7.3336 0H7.68479C8.37119 0.010495 8.54879 0.0585971 8.79838 0.127689C9.30078 0.258877 9.31038 0.614833 9.26638 1.82701C9.25358 2.17334 9.23998 2.56341 9.23998 3.02256C9.23998 3.12052 9.23598 3.22984 9.23598 3.34091C9.22078 3.96274 9.20078 4.66329 9.60238 4.95102C9.65428 4.98694 9.71455 5.00576 9.77597 5.00525C9.91517 5.00525 10.332 5.00525 11.4624 2.88438C11.9584 1.9477 12.3423 0.843099 12.3687 0.760014C12.3911 0.713661 12.4583 0.583348 12.5399 0.530873C12.5982 0.497854 12.6631 0.481034 12.7287 0.481896H15.4447C15.7407 0.481896 15.9415 0.530873 15.9807 0.653315C16.0463 0.851846 15.9679 1.45793 14.7279 3.29106C14.5191 3.59629 14.3359 3.86042 14.1751 4.09131C13.0511 5.70404 13.0511 5.78538 14.2415 7.0098Z" fill="black" />
                                </svg>
                .footer__img 
                    img(src="./assets/img/Rectangle 612.png", alt="")
                img.bg-dc-2(src="./assets/img/Mask group (3).png", alt="")   
                img.bg-dc-mobile(src="./assets/img/Mask group (4).png", alt="") 
        .footer__copyright 
            p.paragraph__subtitle-secondary
                | Marze © 2025
            a.paragraph__subtitle-secondary(href="") 
                | Создание и разработка