section.catalog-banner
    .catalog-banner__container 
        .catalog-banner__wrapper
            .catalog-banner__left 
                p.paragraph__subtitle 
                    | На самом деле, наша продукция используется по всему городу, от крупных производств и торговых центров, до частных домов и классических квартир.
            .catalog-banner__right 
                img.bg-img(src="./assets/img/Rectangle 547 (2).png", alt="")

                img.bg-dc.desktop(src="./assets/img/Vector.png", alt="")
                img.bg-dc.mobile(src="./assets/img/Subtract.png", alt="")

                .catalog-banner__title
                    p.paragraph__title
                        | Что полотенцесушители, что радиаторы от Марзе - это высокое качество и возможность сделать исключительную вещь под конкретно ваши потребности!
                    .ui-button__primary  
                        a(href="")
                            <svg class="button-shape button-shape-orange" xmlns="http://www.w3.org/2000/svg" width="242" height="45" viewBox="0 0 242 45" fill="none">
                                <path d="M149.5 0C158.467 1.85966e-07 166.209 5.24594 169.824 12.8362C170.247 13.7242 171.753 13.7242 172.176 12.8362C175.791 5.24594 183.533 0 192.5 0H219.5C231.926 0 242 10.0736 242 22.5C242 34.9264 231.926 45 219.5 45H192.5C183.533 45 175.791 39.7538 172.176 32.1633C171.753 31.2753 170.247 31.2753 169.824 32.1633C166.209 39.7538 158.467 45 149.5 45H22.5C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 2.57703e-07 22.5 0H149.5Z" fill="#FF7700"/>
                                <path class="button-arrow-orange button-arrow" d="M205.887 12.6689L215.775 22.5563M215.775 22.5563L205.887 32.4436M215.775 22.5563L196 22.5563" stroke="white"/>
                            </svg>

                            <svg class="button-shape button-shape-transparent" xmlns="http://www.w3.org/2000/svg" width="242" height="45" viewBox="0 0 242 45" fill="none">
                                <mask id="path-1-inside-1_2001_4" fill="white">
                                <path d="M149.5 0C158.467 1.85966e-07 166.209 5.24594 169.824 12.8362C170.247 13.7242 171.753 13.7242 172.176 12.8362C175.791 5.24594 183.533 0 192.5 0H219.5C231.926 0 242 10.0736 242 22.5C242 34.9264 231.926 45 219.5 45H192.5C183.533 45 175.791 39.7538 172.176 32.1633C171.753 31.2753 170.247 31.2753 169.824 32.1633C166.209 39.7538 158.467 45 149.5 45H22.5C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 2.57703e-07 22.5 0H149.5Z"/>
                                </mask>
                                <path d="M149.5 0V-1V0ZM149.5 45V46V45ZM22.5 45V46V45ZM22.5 0V-1V0ZM172.176 32.1633L173.079 31.7333L172.176 32.1633ZM169.824 32.1633L170.727 32.5933L169.824 32.1633ZM169.824 12.8362L170.727 12.4062L169.824 12.8362ZM172.176 12.8362L171.273 12.4062L172.176 12.8362ZM149.5 0V1C158.067 1 165.466 6.01096 168.921 13.2662L169.824 12.8362L170.727 12.4062C166.952 4.48093 158.867 -1 149.5 -1V0ZM172.176 12.8362L173.079 13.2662C176.534 6.01096 183.933 1 192.5 1V0V-1C183.133 -1 175.048 4.48093 171.273 12.4062L172.176 12.8362ZM192.5 0V1H219.5V0V-1H192.5V0ZM219.5 0V1C231.374 1 241 10.6259 241 22.5H242H243C243 9.52131 232.479 -1 219.5 -1V0ZM242 22.5H241C241 34.3741 231.374 44 219.5 44V45V46C232.479 46 243 35.4787 243 22.5H242ZM219.5 45V44H192.5V45V46H219.5V45ZM192.5 45V44C183.933 44 176.534 38.9888 173.079 31.7333L172.176 32.1633L171.273 32.5933C175.048 40.5188 183.132 46 192.5 46V45ZM169.824 32.1633L168.921 31.7333C165.466 38.9888 158.067 44 149.5 44V45V46C158.868 46 166.952 40.5188 170.727 32.5933L169.824 32.1633ZM149.5 45V44H22.5V45V46H149.5V45ZM22.5 45V44C10.6259 44 1 34.3741 1 22.5H0H-1C-1 35.4787 9.52131 46 22.5 46V45ZM0 22.5H1C1 10.6259 10.6259 1 22.5 1V0V-1C9.52131 -1 -1 9.52131 -1 22.5H0ZM22.5 0V1H149.5V0V-1H22.5V0ZM172.176 32.1633L173.079 31.7333C172.656 30.8452 171.749 30.4973 171 30.4973C170.251 30.4973 169.344 30.8452 168.921 31.7333L169.824 32.1633L170.727 32.5933C170.73 32.5872 170.739 32.5686 170.783 32.5454C170.831 32.5195 170.907 32.4973 171 32.4973C171.093 32.4973 171.169 32.5195 171.217 32.5454C171.261 32.5686 171.27 32.5872 171.273 32.5933L172.176 32.1633ZM169.824 12.8362L168.921 13.2662C169.344 14.1543 170.251 14.5022 171 14.5022C171.749 14.5022 172.656 14.1543 173.079 13.2662L172.176 12.8362L171.273 12.4062C171.27 12.4123 171.261 12.4309 171.217 12.4541C171.169 12.48 171.093 12.5022 171 12.5022C170.907 12.5022 170.831 12.48 170.783 12.4541C170.739 12.4309 170.73 12.4123 170.727 12.4062L169.824 12.8362Z" fill="#FF7700" mask="url(#path-1-inside-1_2001_4)"/>
                                <path class="button-arrow-transparent button-arrow" d="M205.887 12.6689L215.775 22.5563M215.775 22.5563L205.887 32.4436M215.775 22.5563L196 22.5563" stroke="#FF7700"/>
                            </svg>

                            .button-text 
                                | Каталог 
